<h1>Patient Details</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Fullname:</strong></td>
                <td><%= @patient.fullname %></td>
              </tr>
              <tr>
                <td><strong>Birthdate:</strong></td>
                <td><%= @patient.birthdate %></td>
              </tr>
              <tr>
                <td><strong>Phone:</strong></td>
                <td><%= @patient.telephone %></td>
              </tr>
              <tr>
                <td><strong>Address:</strong></td>
                <td><%= @patient.address %></td>
              </tr>
              <tr>
                <td><strong>Injury:</strong></td>
                <td><%= @patient.injury %></td>
              </tr>
              <tr>
                <td><strong>Infection:</strong></td>
                <td><%= @patient.infection %></td>
              </tr>
              <tr>
                <td><strong>Observations:</strong></td>
                <td><%= @patient.observations %></td>
              </tr>
              <tr>
                <td><strong>Toal Cost (incl. any further consultations):</strong></td>
                <td><%= @patient.cost %></td>
              </tr>
              <tr>
                <td><strong>Requests:</strong></td>
                <td><%= @patient.requests %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
  <h1>Patient Appointments</h1>
  <table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Date</th>
        <th data-field="name" data-sortable="true">Time</th>
        <th data-field="name" data-sortable="true">Appointment Made by</th>
      </tr>
    </thead>
    <tbody>
      <% if @appointments.blank? %>
      <h3>No Appointment booked yet, you can add appointments below</h3>
      <% else %>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.date %></td>
          <td><%= appointment.time %></td>
          <td><%= appointment.user.email %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
  <br>
  <div class="form-group row">
    <div class="col-sm-10">
      <%= link_to 'Edit Patient', edit_patient_path(@patient), class: 'btn btn-primary' %>
      <%= link_to 'Back', patients_path, class: 'btn btn-secondary' %>
      <%= link_to "add appointment", new_patient_appointment_path(@patient), class: "btn btn-danger" %>
    </div>
  </div>
