<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <ul class="nav navbar-nav">
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/home/index">Home</a>
  </li>
  <li class="nav-item">
    <%= link_to "Patients", patients_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Doctors", doctors_path, class: "nav-link" %>
  </li>
  
  <!-- Search box for patients on nav bar -->
  <%= form_tag(patients_path, :method => "get", class: "form-inline pull-xs-right", role: 'search') do %>
  <%= text_field_tag :search, nil, :placeholder => "Search Patients", class: 'form-control' %>
  <%= submit_tag 'Search', name: nil, class: "btn btn-success-outline" %>
  <% end %>
</nav>
