<!DOCTYPE html>
<html>
<head>
  <title>Smarthealthapp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!--Render _header.html.erb -->
  <%= render 'layouts/header' %>
  <div id= 'wrapper' class="container">
    <!-- Displays flash messages -->
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <%= yield %>
    <div id='first-column'>
      <div class="loginbox">
        <% if user_signed_in? %>
        <h5>Signed in as... <%= current_user.email %>
          (<%= link_to 'Sign out', destroy_user_session_path,
          method: :delete%>)
        </h5>
        <% else %>
        <h2> <%= link_to 'Register',
        new_user_registration_path %>
      </h2>
      <h2> <%= link_to 'Sign in',
      new_user_session_path %>
    </h2>
    <% end %>
  </div>
</div>
</div>
</body>
</html>
