<!DOCTYPE html>
<html>
<head>
  <title>Smarthealthapp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!--Render _header.html.erb -->
  <%= render 'layouts/header' %>
  <div id= 'wrapper' class="container">
    <!-- Displays flash messages -->
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <%= yield %>
</div>
<div id="footer">
  <div class="container mr-auto">
    <p class="text-muted">Created by <a href="https://www.linkedin.com/in/fintan-murphy-25269494/" target="_blank">Fintan Murphy</a></p>
  </div>
</div>
</body>
</html>
